*
*::before
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.page-container {
  
 background-color: #fae1dd;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding:1rem 2rem 1rem 2rem;
  font-size:1.25rem;
  letter-spacing: 0.15rem;
  font-family: 'Inter', sans-serif;
}
.name{
  color: #8a6862;
  background-color: #fae1dd;
  font-family: 'Inter', sans-serif;
}
.full{
  background-color: #fae1dd;
}
.page-container{
  display:flex;
  justify-content:center;
  height: 155vh
}
.ten{
  display: flex;
  color: #8a6862;
  font-size: large;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  font-weight: 800;
}